In [1]:
import pandas as pd

df = pd.read_csv('dataset/chinese_qa_train.csv')

In [2]:
df.dropna(inplace=True)

In [3]:
df.reset_index(drop=True,inplace=True)

In [4]:
df

,question,answer
0,哪位在美国出生的辛克莱于 1930 年获得了诺贝尔文学奖？,辛克莱·刘易斯
1,朱迪·丹奇女爵在英格兰的哪里出生？,约克
2,公告牌杂志首次出版美国热门排行榜是在哪个十年？,30 秒
3,安哥拉在 1975 年从哪个国家获得独立？,葡萄牙
4,大卫·索尔来自哪个城市？,芝加哥
...,...,...
1232,《滑稽女郎》的主题是哪个范妮？,《滑稽女郎》的主角芬妮是布赖斯。
1233,谁是在《悲惨世界》中第一个在皇家莎士比亚剧团担任主要角色的美国女演员？,帕蒂·卢波恩
1234,1960 年，莱纳和洛伊的最后一部主要成功的音乐剧是哪一部？,《卡美洛》
1235,哪首 90 年代复兴热门歌曲与一个黑帮城市同名？,《芝加哥》（Chicago）这个 90 年代复兴的热门作品与一个黑帮城市同名。
1236,哪位歌手的本名是迈克尔·巴拉特？,沙金·史蒂文斯

In [5]:
df.to_csv('dataset/chinese_qa_train_clean.csv',index=False)