In [1]:
import pandas as pd

df = pd.read_csv('/home/yangrumei/Kaggle/dataset/chinese_qa_train.csv')

In [2]:
df.dropna(inplace=True)

In [3]:
df.reset_index(drop=True,inplace=True)

In [4]:
df

                                                question   answer
0                          哪位在美国出生的辛克莱于 1930 年获得了诺贝尔文学奖？  辛克莱·刘易斯
1                                      朱迪·丹奇女爵在英格兰的哪里出生？       约克
2                                公告牌杂志首次出版美国热门排行榜是在哪个十年？     30 秒
3                                  安哥拉在 1975 年从哪个国家获得独立？      葡萄牙
4                                           大卫·索尔来自哪个城市？      芝加哥
...                                                  ...      ...
33587                     马丁·斯科塞斯 2008 年关于滚石乐队的纪录片叫什么名字？     闪耀光芒
33588  谁于1812年在朴次茅斯附近出生，童年在查塔姆和伦敦度过，1836年与凯瑟琳·霍加斯结婚，1...  查尔斯·狄更斯
33589                 美国队在印第安纳波利斯举行的 2002 年男篮世锦赛上获得了第几名？    阿根廷队。
33590                                比吉斯组合中的哪两个吉布兄弟是双胞胎？   罗宾和莫里斯
33591                       目前俄罗斯东正教会的基督教新年在西方公历中的日期是哪天？    1月14日

[33592 rows x 2 columns]

In [5]:
df.to_csv('/home/yangrumei/Kaggle/dataset/chinese_qa_train.csv',index=False)